In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from plotly.offline import iplot
import plotly.graph_objs as go

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
timesData = pd.read_csv("/content/timesData.csv")

In [4]:
timesData.head(9)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54,2011
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63,2011

In [5]:
df2013 = timesData[timesData.year == 2013].iloc[:5,:]
df2013

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
602,1,California Institute of Technology,United States of America,96.3,59.8,99.4,99.7,95.6,95.5,"2,243",6.9,27%,33 : 67,2013
603,2,Stanford University,United States of America,95.0,56.6,98.8,99.3,62.4,93.7,"15,596",7.8,22%,42 : 58,2013
604,2,University of Oxford,United Kingdom,89.7,88.7,98.1,95.6,79.8,93.7,"19,919",11.6,34%,46 : 54,2013
605,4,Harvard University,United States of America,94.9,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013
606,5,Massachusetts Institute of Technology,United States of America,92.9,81.6,89.2,99.9,92.9,93.1,"11,074",9.0,33%,37 : 63,2013

In [6]:
trace1 = go.Bar(x = df2013.university_name,
                y = df2013.teaching,
                name = "teaching",
                marker = dict(color = 'rgba(255,121,149,0.4)',
                line=dict(color='rgb(0,0,0)',width=2.3)),text = df2013.country)

In [7]:
trace2 = go.Bar(x = df2013.university_name,
                y = df2013.international_students,
                name = "international_students",
                marker = dict(color = 'rgba(255,191,109,0.6)',
                line=dict(color='rgb(0,0,0)',width=2.3)),text = df2013.country)

In [8]:
data = [trace1, trace2]
layout = go.Layout(barmode = "group")
fig = go.Figure(data = data, layout = layout)
iplot(fig)