In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from plotly.offline import iplot
import plotly.graph_objs as go

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
timesData = pd.read_csv("/content/timesData.csv")

In [3]:
timesData.head(6)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011

In [4]:
df2011 = timesData[timesData.year == 2011].iloc[:100,:]
df2012 = timesData[timesData.year == 2012].iloc[:100,:]
df2013 = timesData[timesData.year == 2013].iloc[:100,:]

In [5]:
trace1 =go.Scatter( 
                    x = df2011.world_rank, 
                    y = df2011.teaching,  
                    mode = "markers",      
                    name = "2011",         
                    marker = dict(color = 'rgba(255, 112, 154, 0.6)'), 
                    text= df2011.university_name)

In [7]:
trace2 =go.Scatter( 
                    x = df2012.world_rank, 
                    y = df2012.teaching,  
                    mode = "markers",      
                    name = "2012",         
                    marker = dict(color = 'rgba(255, 12, 114, 0.6)'), 
                    text= df2012.university_name)

In [8]:
trace3 =go.Scatter( 
                    x = df2013.world_rank, 
                    y = df2013.teaching,  
                    mode = "markers",      
                    name = "2013",         
                    marker = dict(color = 'rgba(255, 100, 14, 0.6)'), 
                    text= df2013.university_name)

In [9]:
data = [trace1, trace2 ,trace3]

layout = dict(title = "Teaching vs world top 100 universities with 2011, 2012 and 2013 years",
              xaxis= dict(title= 'World Rank',ticklen= 5,zeroline= False),
              yaxis = dict(title = "Teaching",ticklen = 5, zeroline = False)
              )

In [10]:
fig = dict(data = data , layout = layout)
iplot(fig)